// Declear variables
$transition: 0.3s all linear;
// Colors
$color-white: #ffffff;
$color-border: #eaeaea;
$color-black: #000000;
$color-blue: rgb(9, 9, 122);
$color-bg: #f1faff;

@import "./normalize";
@import "./responsive";
@import "./container";
@import "./common";
@import "./buttons";
@import "./typography";
@import "./input";
@import "./animations";
